{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div  class="container">
        <div class="row">
            <div class="col-md-6 ">
                <img src="{{item.itme_image}}" alt="" height="300px">
            </div>
            <div class="col-md-6">
            <h1>{{item.item_name}}</h1>
            <h2>{{item.item_desc}}</h2> 
            <h3> ${{item.item_price}}</h3>
            <h3> ${{item.user_name}}</h3>
            <br>
            <a href="{% url 'food:edit_item' item.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'food:delete_item' item.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
  </div>
    {% endblock %}
</body>
</html>